
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

nav ul li {
  margin: 0 0.5rem;
}

.navitems {
  color: white;
}

a {
  color: white;
}

.navbar-brand {
  color: #66cfff;
}